.header-1{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 50px 150px;
  color: rgba(78, 71, 255, 1);
}
.bg-image{
  background-image: url(../images/Hero-bg.png);
}

.btn-color{
  background-color: rgba(78, 71, 255, 1);
  color: aliceblue;
  padding: 12px 36px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.header-2{
  text-align: center;
}
.btn-margin-1{
margin: 20px;
}

.btn-margin-2{
  margin-bottom: 152px;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.part-2{
  display: flex;
  justify-content: space-between;
  margin: 116px 160px 0px 140px;
  text-align: center;
}

.bdr-radius{
  border-radius: 30px;
}

.txt-color{
  color: rgba(0, 0, 0, 0.5);
}

.part-3{
  background-color: rgba(78, 71, 255, 0.1);
  margin: 0px 159px 0px 141px;
  border-radius: 15px;
  padding: 50px 142px;
}

.part-30{
  text-align: center;
}

.part-31{
display: flex;
justify-content: space-around;
}

.bdr-gap{
  gap: 120px;
}

.txt-31{
  color: rgb(30, 7, 235);
}

.para-color3{
  color: rgba(0, 0, 0, 0.5);
}